<<Rename the file to config.env>>

NEWS_API_KEY=d6a76ed6c72b48b2963d9b8368838043
PORT = 3000
DATABASE_PASSWORD = dbPassword
DATABASE_USERNAME = dbUsername
DATABASE_NAME = dbName
DATABASE_LINK = mongodb://<username>:<password>@cluster0-shard-00-00.c66bv.mongodb.net:27017,cluster0-shard-00-01.c66bv.mongodb.net:27017,cluster0-shard-00-02.c66bv.mongodb.net:27017/<name>?ssl=true&replicaSet=atlas-g9igqe-shard-0&authSource=admin&retryWrites=true&w=majority

JWT_SECRET= "your secret word"
JWT_DURATION= duration ex: "5d" : d refers to days
JWT_COOKIE_DURATION= ex: "5" 

